<div ng-app="rampup">

  <h1>Angular Rampup</h1>

  <ul class="nav nav-tabs">
    <li><a ui-sref="basic">Basic</a></li>
    <li><a ui-sref="advanced">Advanced</a></li>
  </ul>

  <div ui-view ></div>

</div>

