<div class="container well">

    <form class="form-horizontal" role="form" form-name="records" ng-submit="advanced.fetch()">
        <div class="form-group col-lg-10">
            <div class="col-sm-6">
                <input type="number" min="1" max="100" ng-model="advanced.noOfRecords" class="form-control" placeholder="No of Records to be fetched" required>
            </div>

            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" value="Fetch">
            </div>

        </div>
    </form>

    <div ng-show="advanced.recordsVisible" >

</div>
